# Variable

Q1. Create one variable containing following of data 
1. string
2. list
3. float
4. tuple

In [1]:
#String variable

str_var = "Shrungadithya"
print(str_var)

Shrungadithya

In [2]:
#list

list_var = [1,2,3,4,"pwSkills", "Assignment"]
print(list_var)

[1, 2, 3, 4, 'pwSkills', 'Assignment']

In [3]:
# Float

float_var = 2.3
print(float_var)

2.3

In [4]:
# tuple
tuple_var = ("Adhi",2,0.3,True)
print(tuple_var)

('Adhi', 2, 0.3, True)

# Data Type

Q2. Given are some following variable containing data

1. var1 = ''
2. var2 = '[DS,ML,Python]'
3. var3 = ['DS','ML','Python']
4. var4 = 1

What will be the data type of the given variable

In [5]:
var1 = ''
print(var1)
print(type(var1))

<class 'str'>

In [6]:
var2 = '[DS,ML,Python]'
print(var2)
print(type(var2))

[DS,ML,Python]
<class 'str'>

In [7]:
var3 = ['DS','ML','Python']
print(var3)
print(type(var3))

['DS', 'ML', 'Python']
<class 'list'>

In [8]:
var4 = 1
print(var4)
print(type(var4))

1
<class 'int'>

Q3. Explain the use of the following operator using an example.
1. /
2. %
3. //
4. **

In [9]:
#Arithmetic operators are used to perform mathematical operations 
# 1. /
# 2. %
# 3. //
# 4. **

In [10]:
# Division (/)

a = 10
b = 2

print("Division :",a/b)

Division : 5.0

In [11]:
# Modulo (%)

print("Modulo :",a%b)

Modulo : 0

In [12]:
# Floor Division (//)

print("Floor Division",a//b)

Floor Division 5

In [13]:
#Power (**)
print("power",a**b)

power 100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [14]:
list_var = [1,2,3,4,"pwSkills", "Assignment"]

for i in list_var:
    print("\n value is :",i)
    print("\n",i,"it's data tye is",type(i))

print("\n List data type is",type(list_var))

 value is : 1

 1 it's data tye is <class 'int'>

 value is : 2

 2 it's data tye is <class 'int'>

 value is : 3

 3 it's data tye is <class 'int'>

 value is : 4

 4 it's data tye is <class 'int'>

 value is : pwSkills

 pwSkills it's data tye is <class 'str'>

 value is : Assignment

 Assignment it's data tye is <class 'str'>

 List data type is <class 'list'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [15]:
A = 10
B = 1
count=0
while B<=A:
    if (A%B==0):
        count=count+1
    B=B+1
print(count)

4

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [16]:
list_d = list(range(1,26))
print(list_d)

for i in list_d:
    if i % 3 == 0:
        print("\n",i,"It is divisible by 3")

    else:
        print("\n",i,"It is not divisible by 3")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

 1 It is not divisible by 3

 2 It is not divisible by 3

 3 It is divisible by 3

 4 It is not divisible by 3

 5 It is not divisible by 3

 6 It is divisible by 3

 7 It is not divisible by 3

 8 It is not divisible by 3

 9 It is divisible by 3

 10 It is not divisible by 3

 11 It is not divisible by 3

 12 It is divisible by 3

 13 It is not divisible by 3

 14 It is not divisible by 3

 15 It is divisible by 3

 16 It is not divisible by 3

 17 It is not divisible by 3

 18 It is divisible by 3

 19 It is not divisible by 3

 20 It is not divisible by 3

 21 It is divisible by 3

 22 It is not divisible by 3

 23 It is not divisible by 3

 24 It is divisible by 3

 25 It is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [17]:
# A mutable object can be changed after it is created

list_var = [1,2,3,4,"pwSkills", "Assignment"]

print("Before :",list_var)

list_var[2] = "pw"

print("After :",list_var)

Before : [1, 2, 3, 4, 'pwSkills', 'Assignment']
After : [1, 2, 'pw', 4, 'pwSkills', 'Assignment']

In [18]:
#An immutable object cannot be changed after it is created
name  = "Shrungadithya"

print(name)

name[2] = "s"
# So it will show an error

Shrungadithya

TypeError: 'str' object does not support item assignment